/* ************* defining variables ************* */
:root {

}

/* ************* universal selector ************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* ************* element selectors ************* */
p {
    font-size: 80px;
}

/* ************* class selectors ************* */
